<div class="container mt-3">
  <div class="row">
    <div class="col-md-8">
      <h2>Contact List</h2>

      <a href="/contact/add" class="btn btn-primary mt-32 mb-2">Entry Data</a>

      <% if (msg.length !== 0) { %>
      <div class="alert alert-success" role="alert"><%= msg %></div>
      <% } %>

      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Phone</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <% if (contacts.length === 0) { %>
          <div class="alert alert-danger" role="alert">
            Contact data not found!
          </div>
          <% } %> <% contacts.forEach((contact, i) => { i++ %>
          <tr>
            <th scope="row"><%= i++ %></th>
            <td><%= contact.name %></td>
            <td><%= contact.phone %></td>
            <td>
              <a
                href="/contact/<%= contact.phone %>"
                class="btn btn-success badge rounded-pill"
                ><i class="bi bi-info-circle"></i> detail</a
              >
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</div>
